body,
html {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 0 2em 0 2em;
    background: rgb(0, 110, 255);
    color: white;
    height: 50px;
}

header h1 {
    margin: 7px 0 0 0;
}

header nav ul {
    display: flex;
}

header nav ul a {
    text-decoration: none;
    color: white;
}

header nav ul li {
    list-style-type: none;
    margin-left: 15px;
}

/* PROFILE PIC*/
.profilePic {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2em 0 0 0;
}

.profilePic img {
    width: 20%;
    border-radius: 50%;
    border: 2px solid rgb(0, 110, 255);
}

/* MAIN SECTIONS */
.about,
.contact,
.portfolio {
    display: flex;
    margin: 2em 5em 0 5em;
}

.about div,
.contact div,
.portfolio div {
    width: 25%;
    color: rgb(0, 110, 255);
}

.about section,
.contact section,
.portfolio section {
    width: 75%;
}

/* PORTFOLIO */
img {
    width: 10%;
}

.contact {
    margin-bottom: 2em;
}

.contact ul {
    display: flex;
}

.contact li {
    list-style-type: none;
    margin: 0 20px 0 20px;
}

.contactUl a{
 text-decoration: none;
 color: rgb(0, 110, 255);
}

/* FOOTER */

footer {
    background: rgb(0, 110, 255);
    color: white;
    width: 100vw;
    margin: 0;
    padding: 0;
}

footer p {
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0;
}